@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-background: #703BE7;
  --secondary-background: #F1EBFD;
  --main-text: #fff;
  --secondary-text: #8D62EC;
  --logout-text: #FF6D6D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active-bg{
  background-color: var(--secondary-background);
}

.active-text{
  color: var(--secondary-text);
}

.logout-text{
  color: var(--logout-text);
}

.nav-item{
  transition: 0.2s ease;
}
.nav-item:hover{
  /* color: var(--secondary-text); */
  background-color: var(--secondary-background);
}

.nav-logout:hover{
  /* color: var(--secondary-text); */
  background-color: #ffdede;
}

.btn-main{
  background-color: var(--main-background);
  color: var(--main-text);
}

.btn-main:hover{
  .AddLogo{
    animation: rotate 0.8s ease-in-out;
  } 
}